body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    background: radial-gradient(white 15%, transparent 5.5%);
    background-size: 10px 10px;
    z-index: -1;
    animation: particles 10s infinite linear;
}

@keyframes particles {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #000000, #4a148c, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    animation: gradientAnimation 10s infinite alternate;
    
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to right, #fdcbf1, #fd1d1d);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.8s ease-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid orangered;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #2980b9;
  }
  
  input[type="submit"] {
    background-color: #833ab4;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: lightskyblue;
    color: black;
  }
  
  .moving-object {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: moveObject 5s infinite linear;
  }
  
  @keyframes moveObject {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100px);
    }
  }
  

